body,h1,ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

header {
    padding: 10px 10px;
    margin:0 5px;
    width: 100%;
    border:1px solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#fff;
    background-color:  #005eb8;
    font-size:24px;
    font-weight: 200;
    text-align: right;
    flex-direction: row;
}
.heading{
    text-align: center;
}
.addtel{
    font-size: 18px;
}
address{
    font-size: 18px;
    text-align: center;
}
.search-bar {
    margin-left:auto;
    text-align: right;
    padding:5px;
}

.navigation-bar {
    margin-left:-1px;
    margin-top: 10px;
    
}
#site-search {
    width: 200px;
    padding: 5px;
}
button{
    background-color: #afacac;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
}
a{
    text-decoration: none;
    color:#fff;
}
nav ul{
    list-style: none;
    text-align: center;
    font-size: 21px;
}
nav ul li{
    display: inline;
    margin: 0 10px;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    text-decoration: underline;
    color: blue;
}

h1{
    font-size: 24px;
    text-align: center;
}
h2{
    text-align: left;
}
p{
    margin: 0 5px;
    padding: 5px 10px;
    text-wrap: wrap;
}
strong{
    text-decoration: underline;
}
.notice{
    margin: 0 5px;
    padding: 10px 10px;
    background-color: rgb(129, 202, 178);
}
.video-text-container{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 0 5px;
    
    
}
.flex-section{
    flex:1;
    padding: 10px;
}
.image{
    width:50%;
    height: auto;
}
video{
    width:fit-content;
    height: auto;
}
input[type=text][type=checkbox][type=date]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    resize: vertical;
}
input[type=submit] {
    background-color: #005eb8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.form-container{
    border-radius: 5px;
    padding: 20px;
}
.row::after{
    display: flex;
    clear: both;
    content:"";
    width:fit-content;
    flex-direction: row;
    padding:5px;
}
.column-left{
    width: 25%;
    margin-top: 6px;
    flex:1;
    width: 25%;
    text-wrap: nowrap;
    
}
.column-right{
    width: 75%;
    margin-top: 6px;
    flex:1;
    width: 75%;
    text-align: right;
}
